<head>
		<title>Markis - FMS For Students</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Markis is a File-management System (FMS) made for clever students!" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}" />
        <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/multiselect.css')}}" type="text/css"/>
		<script src="{{url_for('static', filename='js/multiselect.js')}}" defer></script>
	</head>
