body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top {
	background-color: #850028 !important;
}

button.btn.btn-primary-red {
	background-color: #850028;
	border-color: #850028;
	color: #FFF;
}

button.btn.btn-primary-search {
  background-color: #0460bd;
  border-color: #0460bd;
  color: #FFF;
}

div.nav-item-border {
  width: 1px;
  height: 25px;
  background-color: rgba(255,255,255,.5);
  margin-top: 8px;
}

div.home-information {
  height: 60px;
}

div.top-bar-left {
  display: inline-block;
  float: left;
}

div.search-bar {
  display: inline-block;
  float: right;
}

input.form-control {
  width: 275px !important;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

div.card {
  box-shadow: 1px 3px 2px rgba(0,0,0,.03), 1px 2px 0 rgba(0,0,0,.03)
}

div.card:hover {
  background-color: #e7e3e3;
  cursor: pointer;
}

div.card-block {
  height: 100px;
  padding: 0.8rem;
}

.card-block .card-title {
  margin-bottom: .50rem;
}

.card-block .card-text {
  margin-bottom: 0.2rem;
}


#folderIcon {
  position: relative;
  top: 4px;
}

@media (max-width: 992px) {
  div.nav-item-border {
    display: none;
  }

  div.search-bar {
    display: block;
    width: 369px;
    float: none;
    margin: 20px auto;
  }

  div.top-bar-left {
    display: block;
    width: 369px;
    float: none;
    margin: 0 auto;
  }

  div.home-information {
    height: 100px;
  }

  div.card-block {
    height: 150px;
  }
}

@media (max-width: 576px) {
  button.my-sm-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }

  input.mr-sm-2 {
    margin-right: .5rem!important;
  }

  div.card-block {
    height: 100px;
    padding: 0.8rem;
  }

  .card-columns .card {
   display: inline-block;
   width: 100%;
   margin-bottom: .75rem;
  }
}
