{% extends 'base.html' %}
{% block body %}
<div class="home-information">
  <div class="top-bar-left">
    <h2>Favorites:</h2>
 </div>
 <div class="search-bar">
   <form class="form-inline my-2 my-lg-0" onsubmit="return false">
     <input id="search-files" class="form-control mr-sm-2 clearable" type="text" placeholder="Search files/folders">
     <button class="btn btn-primary-search my-2 my-sm-0 search-button" type="button">Search</button>
   </form>
 </div>
</div>
<div class="content">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last modified</th>
        <th>Size</th>
        <th>Download</th>
        <th>Remove<th>
      </tr>
    </thead>
      {% for file in favorites %}
      <tr>
				<td class = "preview_file" href = "{{ file.downloadpath }}" data-file-name = "{{ file.name }}"><i id="icon" class="material-icons">{{file.name | file_icon }}</i> {{ file.name }}</td>
         <td class = "preview_file" href = "{{ file.downloadpath }}" data-file-name = "{{ file.name }}">{{ file.upload_date }}</td>
         <td class = "preview_file" href = "{{ file.downloadpath }}" data-file-name = "{{ file.name }}">{{ file.size }}</td>
          <td><div class="fileIcons"><a href = "/subject/{{file.subject_code}}/{{ file.downloadpath }}/{{file.name}}"  download><i class="material-icons download_button" style="font-size:30px;">file_download</i></a></div></td>
          <td><div class="fileIcons"><a href><i class="material-icons" style="font-size:26px;">delete</i></div></td>
      </tr>
    {% endfor %}
  </table>
</div>
<hr />
{% endblock %}
