{% extends 'base.html' %}
{% block body %}
<div class="home-information">
  <div class="top-bar-left">
    <h2>{{ subjectDataSet.subject_id }} - {{ subjectDataSet.subject_name }} </h2>
 </div>
</div>

<div class="d-inline-block">
 <ol>
     <li class="d-inline">
         <a href="/">
             <i class="material-icons" id="icon">home</i>
             <span> ></span>
         </a>
     </li>
     <li class="d-inline">
         <a href="">
             <i class="material-icons" id="icon">folder</i>
             <span>{{subjectDataSet.subject_id}} ></span>
         </a>
     </li>
 </ol>
</div>

 {% include 'includes/_searchbar.html' %}

<div class="content">
  <p>{{subjectDataSet.subject_description}}</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Uploaded on</th>
        <th>Size</th>
        <th>Uploaded By</th>
        <th>Favorite</th>
        <th>Votes</th>
      </tr>
    </thead>
      <tr>

			</tr>

  </table>
</div>
<hr />
{% endblock %}
