{% extends 'base.html' %}
{% block body %}
<div class="home-information file-information">
  <div class="title">
    <h2>{{ subjectDataSet.subject_id }} - {{ subjectDataSet.subject_name }} </h2>
 </div>
 {% include 'includes/_breadcrumb.html' %}
 {% include 'includes/_searchbar.html' %}
</div>

<div class="content lower">
  <table class="table table-hover">
    <thead>
      <tr>
				<th></th>
        <th>Name</th>
        <th>Uploaded on</th>
        <th>Size</th>
        <th>Uploaded By</th>
        <th>Favorite</th>
        <th>Download</th>
      </tr>
    </thead>
      {% for folder in folders %}
      <tr onclick="location.href = '{{ request.path}}/{{ folder.name }}';">
        <td>
            {% if folder.hasContent %}
            <i class="material-icons" id="icon">folder</i>
            {% else %}
            <i class="material-icons" id="icon">folder_open</i>
            {% endif %}
            {{ folder.name }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
			</tr>
    {% endfor %}
  {% for file in files %}
      <tr data-file-id = {{ file.file_id }}>
				<td class="row-votes"><div class="votes"><a class="vote-up {% if file.user_vote == 1 %} chosen {% endif %} chosen" title="This file is useful"><i class="material-icons">keyboard_arrow_up</i></a> <span class="file-votes">{{ file.votes }} </span> <a class="vote-down {% if file.user_vote == -1 %} chosen {% endif %} chosen" title="This file is not useful"><i class="material-icons">keyboard_arrow_down</i></a></div></td>
        <td class = "preview_file" href = "{{ file.downloadpath }}" data-file-name = "{{ file.name }}"><i id="icon" class="material-icons">{{file.name | file_icon }}</i> {{ file.name }}</td>
         <td class = "preview_file" href = "{{ file.downloadpath }}" data-file-name = "{{ file.name }}">{{ file.upload_date }}</td>
         <td class = "preview_file" href = "{{ file.downloadpath }}" data-file-name = "{{ file.name }}">{{ file.size }}</td>
       <td class = "preview_file" href = "{{ file.downloadpath }}" data-file-name = "{{ file.name }}">{{ file.uploader }}</td>
       <td class="buttons"><div class="fileIcons"><a title="Favorite" id="favorites-button"><i class="material-icons" style="font-size:25px; color:#850028;">{% if file.user_favorite == 1 %} favorite {% else %}favorite_border{% endif %}</i></a></div></td>
       <td class="buttons"><div class="fileIcons"><a href = "{{ file.downloadpath }}"  download><i class="material-icons download_button" style="font-size:30px; color:#0460bd;">file_download</i></a></div></td>
      </tr>
    {% endfor %}
  </table>
</div>
<hr />
{% endblock %}
