{% extends 'base.html' %}
{% block body %}
 <div class="home-information">
   <div class="dropdown faculties">
     <span>Faculties:</span>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      All
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/">Mathematics and Computer Science</a>
      <a class="dropdown-item" href="/">Mechanical Engineering</a>
      <a class="dropdown-item" href="/">Applied Physics</a>
    </div>
  </div>
  <div class="search-bar">
    <form class="form-inline my-2 my-lg-0">
      <input id="search-subject" class="form-control mr-sm-2" type="text" placeholder="Search subject (name/code)">
      <button class="btn btn-primary-search my-2 my-sm-0 search-button" type="button">Search</button>
    </form>
  </div>
 </div>
 <hr />
 <div class="content">
   <div class="card-deck">
     {% for subject in subjects %}
    <div class="card">
       <div class="card-block">
         <h4 class="card-title">{{subject.subject_id}}</h4>
         <p class="card-text">{{subject.subject_name}}</p>
         <p class="card-text"><small class="text-muted">Mathematics and Computer Science</small></p>
       </div>
     </div>
         {% if loop.index % 3 == 0 and loop.index != 0 %}
                 </div>
                 <div class="card-deck">
         {% endif %}
     {% endfor %}
   </div>
 </div>
 <hr />
 </div>
{% endblock %}
